*, *::before, *::after{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    padding: 2rem;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container{
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.btn{
    border-radius: 8px;
    border: none;
    font-weight: 700;
    padding: 0.5rem;
    cursor: pointer;
    background-color: teal;
    color: white;   
}
#new-btn{
    background: cyan;
}
.player-selection{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.player{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}
.cell{
    background-color: lightgray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
    aspect-ratio: 1/1;
    transition: transform 120mx ease, background 120mx ease;
}
.cell:hover{
    transform: translateY(-4px);
}
.cell:active{
    transform: translateZ(-10px) scale(0.95);
}
.scoreboard{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.score-item{
    padding: 1rem;
    border-radius: 8px;
    font-weight: 600;
}

@media (max-width: 420px) {
    .container{
        padding: 1rem;
    }
    .game-board{
        gap: 0.5rem;
        max-width: 320px;
    }
}